@use "./global/variables";    

// Blog Header Styles
    #blog {
        background-image: url(../assets/blog-header.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100vh;
        h1 {
            color: variables.$quaternary;
            margin-bottom: 300px;
            margin-right: 750px;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            height: 100%;
            margin: 0 auto;
        }
    }


// Blog Navigation styles
.blogNav {
    width: 100%;
    top: 0;
    margin: 0;
    ul {
        display: flex;
        justify-content: left;
    }
    li {
        padding: 0 20px;
    }
    a {
        text-decoration: none;
        color: variables.$quaternary;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: variables.$primary;  
    }
}

// Blog Form Styles

form {
    .blogFrom {        
        position: relative;
        width: 800px;
        height: 600px;
        padding: 1rem;
        box-sizing: border-box;
        background-color: variables.$secondary;
        border: 1px solid variables.$primary;
        box-shadow: 20px 20px variables.$primary;
    }
    input {
        background-color: variables.$tertiary;
        border-bottom: 1px soilid yellow;
    }
    textarea {
        display: block;
        padding: 10px;
        margin: 70px 20px 0 40px;
        height: 40%;
        width: 90%;
        color: variables.$quaternary;
        border: 1px solid variables.$primary;
        background-color: variables.$secondary;
        color: variables.$body;
    }
    button {
        .postComment {
            margin: 50px 40px;
            width: 90%;
            color: variables.$primary;
            background-color: variables.$tertiary;
        }
    }
}


