@use "./global/variables";    

// Blog Header Styles
    #blog {
        background-image: url(../assets/blog-header.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100vh;
        h1 {
            color: variables.$quaternary;
            margin-bottom: 300px;
            margin-right: 750px;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            height: 100%;
            margin: 0 auto;
        }
    }


// Blog Navigation styles
.blogNav {
    width: 100%;
    top: 0;
    margin: 0;
    ul {
        display: flex;
        justify-content: left;
    }
    li {
        padding: 0 20px;
    }
    a {
        text-decoration: none;
        color: variables.$quaternary;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: variables.$primary;  
    }
}