@use "./global/variables";    

// Blog Header Styles
    #blog {
        background-image: url(../assets/blog-header.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
    }
    
// Blog Navigation styles
    .blogNav {
        width: 100%;
        top: 0;
        margin: 0;
        ul {
            display: flex;
            justify-content: left;
        }
        li {
            padding: 0 20px;
        }
        a {
            text-decoration: none;
            color: variables.$quaternary;
        }
        a:hover {
            text-decoration: underline;
            text-decoration-color: variables.$primary;  
        }
    }
    h1.blogPage  {
        color: variables.$quaternary;
        margin-right: 750px;
    }
    
// Blog Form Styles

form.blogFrom { 
    position: relative;
    width: 800px;
    height: 600px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: variables.$secondary;
    border: 1px solid variables.$primary;
}
    input[type="text"] {
        border: 0;
        border-bottom: 1px solid variables.$primary;
        outline: 0; 
    }
    .userName {
            display: flex;
            flex-direction: column;
             color: white;
    }
    input[type="email"] {
            border: 0;
            border-bottom: 1px solid variables.$primary;
            outline: 0;
    }
        
    .formContainer {
            display: flex;
            justify-content: space-between;
            margin: 20px 50px 0 50px;
    }
    textarea {
            display: block;
            padding: 10px;
            margin: 70px 20px 0 40px;
            height: 40%;
            width: 90%;
            color: variables.$quaternary;
            border: 1px solid variables.$primary;
            background-color: variables.$secondary;
            color: variables.$body;
            .comment {
                background-color: variables.$secondary;
            } 
    }  
    button.postComment {
            margin: 50px 40px;
            width: 90%;
            color: variables.$primary;
            background-color: variables.$tertiary;

    }
