@use "./global/variables";

//Contact Header Styles
    #contact {
        background-image: url(../assets/contact-header.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
        position: relative;
        h1 {
            color: variables.$quaternary;
            margin-bottom: 300px;
            margin-right: 250px;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin: 0 auto;
        }
    }

// Contact Navigation Styles
.contactNav {
    width: 100%;
    top: 0;
    margin: 0;
    ul {
        display: flex;
        justify-content: left;
    }
    li {
        padding: 0 20px;
    }
    a {
        text-decoration: none;
        color: variables.$quaternary;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: variables.$primary;  
    }
}

// Contact Main Section Styles

main {
    background-color: variables.$secondary;
}

.contactFlex {
    display: flex;
    flex-direction: row;
}

// Contact Form Styles
    form {
        position: relative;
        width: 800px;
        height: 600px;
        padding: 1rem;
        box-sizing: border-box;
        background-color: variables.$tertiary;
        box-shadow: 20px 20px variables.$primary;
        bottom: 200px;
        left: 200px;
       
    }

    input[type="text"] {
        border: 0;
        border-bottom: 1px solid variables.$primary;
        outline: 0; 
      }

      .userName {
        display: flex;
        flex-direction: column;
        color: white;
      }

      input[type="email"] {
        border: 0;
        border-bottom: 1px solid variables.$primary;
        outline: 0;
      }

      .userEmail {
        display: flex;
        flex-direction: column;
        color: white;
      }


      .formContainer {
        display: flex;
        justify-content: space-between;
        margin: 20px 50px 0 50px;
      }

      textarea  {
        display: block;
        padding: 10px;
        margin: 70px 20px 0 40px;
        height: 40%;
        width: 90%;
        color: variables.$quaternary;
        border: 1px solid variables.$primary;
        background-color: variables.$tertiary;
        
    }
    .contact {
        background-color: variables.$tertiary;
        color: white;
    }
    
    
    .contactForm button {
        margin: 50px 40px;
        width: 90%;
        
    }
       
    
    // Contact Information and Icons Styles
    
    .addressInfo {
        margin: 0;
        .infoEmail {
            padding: 20px 0;
        }
        p {
            margin: 0 0;
            padding: 0 0;
            font-size: small;
        }
    }

    .fontAwesome i {
        justify-content: space-evenly;
        padding: 5px;
        color: variables.$tertiary;
    }

