@use "../global/variables";

// Home Header Styles

header {
    background-image: url(../assets/home-header.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 700px;
    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        height: 100%;
    }
    
    // Home Navigation Styles
    .homeNav {
        width: 100%;
        top: 0;
        margin: 0;
        ul {
            display: flex;
            list-style: none;
            justify-content: left;
            margin-top: 0;
            li {
                padding: 0 20px;
            }
            a {
                text-decoration: none;

            }
            a:hover,
            .active {
                text-decoration: underline;
                text-decoration-color: variables.$primary;
            }
        }  
    }
    
    h1 {
        margin-top: auto;
        align-self:flex-start;
        align-self: flex-end;
        color: variables.$primary;
    }
    
    }

    .headerImgContainer {
    position: absolute;
    bottom: -25%;
    right: 0;
    
    }
  