@use "./global/variables";

// Home Header Styles

 #home {
    background-image: url(../assets/home-header.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    height: fit-content;
 }
    .wrapper {
        padding: 20px 0;
        height: 100%;
        display: flex;
        flex-direction: column;
    
    
// Home Navigation Styles
    .homeNav {
        width: 100%;
        top: 0;
        margin: 0;
        ul {
            display: flex;
            list-style: none;
            justify-content: left;
            margin-top: 0;
            li {
                padding: 0 20px;
            }
            a {
                text-decoration: none;
                color: variables.$quaternary;  
            }
            a:hover {
                text-decoration: underline;
                text-decoration-color: variables.$primary;  
            }
        }  
    }   
}

h1.boatRideAdventures {
    margin-top: 200px;
    align-self:flex-start;
    align-self: flex-end;
    color: variables.$primary;
}
    .headerImgContainer {
    position: absolute;
    top: 16%;
    left: 58%;
}
  

// Home About Section Styles

    .about {
        background-color: #EAFEFC;
        padding-top: 200px;
        padding-bottom: 100px;
        h2 {
            color: variables.$tertiary;
            font-size: 2rem;
            font-style: italic;
        }
    }
    .flexContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .icon1,
        .icon2,
        .icon3,
        .icon4 {
            padding-top: 65px;
        }
    }
    .aboutContainer1,
    .aboutContainer2,
    .aboutContainer3,
    .aboutContainer4 {
        width: 50%;
    }
    
    .aboutContainer1,
    .aboutContainer2,
    .aboutContainer3,
    .aboutContainer4 {
        display: flex;
    }
       

// Home Locations Section Styles
    .locations {
        background-color: #0D457F;
        .programsFlex,
        .locationsFlex {
            display: flex;
        }
        h3, p {
            color: variables.$quaternary;
        }

   
         .imgContainer1,
        .textContainer1 {
            width: 50%;
            img {
                position: relative;
                left: -200px;
                bottom:50px;
            }
         }

         .imgContainer2,
         .textContainer2 {
            width: 50%;
             img {
            position: relative;
            left: 100px;
            top: 120px;
            }
        }

    .textContainer2 {
        h2, p {
           text-align: right;
            }
        }
    button {
       margin-left: 300px;
        }

    .imgContainer1 img {
        box-shadow: 10px 10px variables.$primary;
        }
    .imgContainer2 img {
        box-shadow: -10px 10px variables.$primary;
        right: 0;
        }
    }

// Home Vacation Section Styles

.vacation {
    background-color: #EAFEFC;
    padding-top: 60px;
    padding-bottom: 80px;
    .wrapper {
        text-align: center;
        color: variables.$tertiary;
        text-align: center;
        // button {
        //     background-color: variables.$primary;
        // }
    }
}

// Home Banner Section Styles
.banner {
    img {
        max-width: 100%;
        margin: 0 auto;
    }
}
 
// Home Trip Section Styles
.trip {
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 80%;
        background-color: #EAFEFC;
        padding-top: 60px;
        padding-bottom: 80px;
        .imgContainer3 img {
            margin-right: 100px;
            margin-top: 100px;
            max-width: 100%;
            box-shadow: -10px 10px variables.$primary;
            } 
        .textContainer3 {
            max-width: 70%;
            h2 {
            text-align: left;
            color: variables.$tertiary; 
            }
            p {
            text-align: left;
            padding-bottom: 50px;  
            }
        }
    }
}
    

    // Home Gallery Section Styles

     .gallery {
        background-color: #0D457F;
        padding: 40px 20px;
     }

    .galleryFlex {
        display: flex;
        margin: 0;
    }       
    .gallery img {
        max-width: 80%;
    }
    li {
        list-style-type: none;
    }
    