@use "./variables" as var;

// Home Page Sections Stylings

// About Section 
.about {
    background-color: var.$lightBlue;
    padding: 150px 20px;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .infoItem {
        width: 45%;
        i {
            font-size: 1.5rem;
            background-color: var.$yellow;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 10px;
        }
        .infoItemTitle {
            display: flex;
            align-items: center;
        }
    }
    p {
        padding-left: 50px;
    }
    a {
        font-size: 2.8rem;
        color: var.$blue;
        font-style: italic;
        font-family: var.$headingFont;
    }
}

// Article Section
.articlePost {
    background-color: var.$blue;
    display: flex;
    justify-content: space-between;
    h2, p {
        color: var.$white;
    }
    .articlePostItem1,
    .articlePostItem2 {
        width: 48%;
        display: flex;
        flex-direction: column;
        .articleTextContainer {
            padding: 50px 0;
        }
    }
    .articlePostItem2 {
        flex-direction: column-reverse;
    }
}

.articlePostItem1 {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .articleImgContainer {
        position: relative;
        top: -100px;
        z-index: 10;
        img {
            box-shadow: 20px 20px var.$yellow;
        }
    }
    .articleTextContainer {
        margin-left: auto;
    }
}

.articlePostItem2 {
    .articleImgContainer {
        position: relative;
        left: 20px;
        top: 100px;
        z-index: 10;
        img {
            box-shadow: -20px 20px var.$yellow;
        }
    }
    .articleTextContainer {
        margin-right: auto;
    }
}

// Info Section
.info {
    background-color: var.$lightBlue;
    padding: 300px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        color: var.$blue;
    }
}

// Banner Section Stylings
.banner {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    li {
        width: 100%;
        height: 700px;
        position: absolute;
        transition: 0.4s;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    button {
        position: absolute;
        top: 50%;
        font-size: 6rem;
        font-weight: bold;
        color: var.$yellow;
        text-shadow: 2px 2px var.$black;
        transition: color 0.4s;
        z-index: 10;
        &:hover {
            color: var.$yellow;
        }      
    }
}
.btnNext {
    right: 2%;
}
.btnPrev {
    left: 2%;
}

// Trip Section
.trip {
    background-color: var.$lightBlue;
    padding: 100px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    .tripImgContainer {
        width: 50%;
        margin-left: 5%;
        margin-top: 15px;
        img {
            box-shadow: -20px 20px var.$yellow;
        }
    }
    .tripTextContainer {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

// Gallery Section
.gallery {
    background-color: var.$blue;
    padding: 100px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    li {
        flex-basis: calc(33% - 20px);
        margin: 0 10px;
    }
    li:first-child {
        margin-left: 0;
    }
    li:last-child {
        margin-right: 0;
    }
    img {
        width: 100%;
    }
}


// Blog Page Sections
.blogTitle {
    color: var.$white;
}
.blogMainContent {
    padding-bottom: 50px;
    background-color: var.$lightBlue;
    position: relative;
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

//Blog right side content 
.rightMainContent {
    width: 60%;
}

.blog {
    border-bottom: 10px solid var.$yellow;
    border-left: 10px solid var.$yellow;
    padding-left: 40px;
}

.blogImgContainer {
    box-shadow: -20px 20px var.$yellow;
    position: absolute;
    margin-top: 250px;
    right: 0;
    top: -15%;
    width: 55%;
    img {
        width: 100%;
    }
}

.blogTextContainer {
    padding-top: 420px;

    h3 {
        padding: 20px 0;
        margin-bottom: 20px;
    }
}

// Comment Section
.comments{
    padding: 40px 0 40px 40px;
}

.commentForm {
    padding: 0 40px 40px;
}

.comments h4 {
    margin-bottom: 40px;
}

.commentor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.commentorImgContainer {
    width: 10%;
}

.commentorTextContainer {
    width: 85%;
    p {
        margin: 0;
    }
}

.postDate {
    display: inline-block;
    margin-bottom: 10px;
    color: var.$blue;
    font-weight: bold;
}

.commentForm {
    input, textarea {
        color: var.$black;
    }
}

// Blog left side section

.sideBar { 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
    min-height: 750px;
    margin-top: 130px;
    padding: 50px 20px 30px;
    background-color: var.$blue;
    &::before {
        content: '';
        width: 33vw;
        height: 450px;
        background-image: url(../assets/blog-side-image.jpg);
        background-size: cover;
        background-position: bottom;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 100px;
    }
    .sidebarText {
        h5 {
            font-family: var.$headingFont;
            font-weight: normal;
            text-transform: uppercase;
            color: var.$yellow;
            margin-top: 400px;
            
        }
        p, .sidebarLink {
            color: var.$white;
            font-size: 1rem;
        }
        .recentPosts {
            margin-top: 10px;
        }
        .blogRecentPosts {
            list-style-type:circle;
            padding: 20px;
            li, a {
            color: var.$white;
            font-size: 1rem;
            font-weight: 100;
            padding: 5px;

            }
            
        }
        
    }

}


