@use "./variables" as var;


//Contact Section
.emailMe {
    background-color: var.$lightBlue;
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 60vh;
    }
}

.emailForm {
    background-color: var.$blue;
    width: 55%;
    padding: 50px 100px;
    box-shadow: 20px 20px var.$yellow;
    position: relative;
    top: -30%;
    z-index: 10;
}

address {
    font-style: normal;
    p {
        margin: 0;
    }
    p:first-child {
        margin: 20px 0;
    }
}

//Contact Section: side bar nav
.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    i {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
}

.sidebarNav ul {
    display: flex;
    flex-direction: row;
    li {
        margin-right: 20px;
        transition: color 0.7s;
        i {
            color: var.$blue;
        }
    }
}

.emailAddress {
    font-family: var.$headingFont;
    font-size: 1.25rem;
    letter-spacing: 1.1px;
}