@use "./variables" as var;

html {
    font-size: 125%;
}

body {
    font-family: var.$bodyFont;
    font-size: 1.2rem;
    font-weight: normal;
    color: var.$black;
}

nav {
    font-family: var.$bodyFont;
    font-size: 1.25rem;
    line-height: 1.8rem;
    letter-spacing: 1px;

}

h1,h2,h3,h4, button {
    font-family: var.$headingFont;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 4.9rem;
    font-style: italic;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
    line-height: 6.2rem;
    font-style: italic;
}

h3 {
    font-size: 2.5rem;
    line-height: 3.6rem;
    letter-spacing: 1.3px;
    font-style: italic;
}

h4 {
    font-size: 1.5rem;
    line-height: 3.6rem;
    letter-spacing: 0.8px;
}

button {
    font-size: 1.4rem;
    line-height: 2.6rem;
    background-color: var.$yellow;
    color: var.$lightBlue;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

em {
    font-weight: bold;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}





