@use "./variables" as var;

html {
    font-size: 125%;
}

body {
    font-family: var.$bodyFont;
    font-size: 1.2rem;
    font-weight: normal;
    color: var.$black;
}

nav {
    font-family: var.$bodyFont;
    font-size: 1.25rem;
    line-height: 1.8rem;
    letter-spacing: 1px;

}

h1,h2,h3,h4,h5 {
    font-family: var.$headingFont;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-size: 4.9rem;
    color: var.$yellow;
    font-style: italic;
    text-align: left;

}

h2, h3, h4, h5 {
    font-size: 2.8rem;
    color: var.$blue;
    font-style: italic;
}

h3 {
    font-size: 2.5rem;
    letter-spacing: 1.3px;
    font-style: italic;
    
}

h4, h5 {
    font-size: 1.5rem;
    letter-spacing: 0.8px;
}

h5 {
    font-size: 1.3rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

em {
    font-weight: bold;
}







