
// Font Colours
$yellow: #FDD908;
$lightBlue: #EAFEFC;
$blue: #0D457F;
$white: #FFFFFF;
$black: #000000;


// Font Families
$headingFont: 'IM Fell English', serif;
$bodyFont: 'Roboto', sans-serif;


