


// Font Colours
$primary: #FDD908;
$secondary: #EAFEFC;
$tertiary: #0D457F;
$quaternary: #FFFFFF;
$body: #000000;


// Font Families
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'IM Fell English', serif;

// Font Size
$baseFontSize: 1rem;

