html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #000000;
}

nav {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

h1, h2, h3, h4, button {
  font-family: "IM Fell English", serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 4.9rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 6.2rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.6rem;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 1.5rem;
  line-height: 3.6rem;
  letter-spacing: 0.8px;
}

button {
  font-size: 1.4rem;
  line-height: 2.6rem;
  background-color: #FDD908;
  color: #0D457F;
  text-align: center;
  padding: 5px 10px;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

footer {
  background-color: #FDD908;
  color: #000000;
  text-align: center;
}
footer p {
  margin: 0;
}

header {
  background-image: url(../assets/home-header.jpg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 700px;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  height: 100%;
}
header .homeNav {
  width: 100%;
  top: 0;
  margin: 0;
}
header .homeNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 0;
}
header .homeNav ul li {
  padding: 0 20px;
}
header .homeNav ul a {
  text-decoration: none;
  color: #FFFFFF;
}
header .homeNav ul a:hover,
header .homeNav ul .active {
  text-decoration: underline;
  -webkit-text-decoration-color: #FDD908;
          text-decoration-color: #FDD908;
}
header h1 {
  margin-top: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #FDD908;
  padding-bottom: 100px;
}

.headerImgContainer {
  position: absolute;
  bottom: -25%;
  right: -20%;
}

.about {
  background-color: #EAFEFC;
  padding-top: 400px;
}
.about .aboutFlex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .aboutFlex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.locations {
  background-color: #0D457F;
}
.locations .programsFlex,
.locations .locationsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.locations .imgContainer1,
.locations .textContainer1 {
  width: 50%;
}
.locations .imgContainer1 img,
.locations .textContainer1 img {
  position: absolute;
  left: -100px;
}
.locations .imgContainer2,
.locations .textContainer2 {
  width: 50%;
}
.locations .imgContainer2 img,
.locations .textContainer2 img {
  position: absolute;
}
.locations .imgContainer1 img {
  -webkit-box-shadow: 10px 10px yellow;
          box-shadow: 10px 10px yellow;
}
.locations .imgContainer2 img {
  -webkit-box-shadow: -10px 10px yellow;
          box-shadow: -10px 10px yellow;
  right: 0;
}

.vacation {
  background-color: #EAFEFC;
  padding-top: 60px;
  padding-bottom: 80px;
}
.vacation .wrapperContainer {
  text-align: center;
  color: #0D457F;
  text-align: center;
}
.vacation .wrapperContainer button {
  background-color: #FDD908;
}

.banner img {
  max-width: 100%;
}

.trip {
  background-color: #EAFEFC;
  padding-top: 60px;
  padding-bottom: 80px;
}
.trip .tripFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
}
.trip .imgContainer3 {
  margin-right: 100px;
  margin-top: 100px;
  max-width: 100%;
}
.trip .textContainer3 h2 {
  text-align: left;
  color: #0D457F;
}
.trip .textContainer3 p {
  text-align: left;
  padding-bottom: 50px;
}
.trip .imgContainer3 img {
  max-width: 50%;
  -webkit-box-shadow: -10px 10px yellow;
          box-shadow: -10px 10px yellow;
}

.gallery {
  background-color: #0D457F;
  padding: 40px 20px;
}

.galleryFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

img {
  max-width: 80%;
  padding: 50px 1px;
}

li {
  list-style-type: none;
}

header {
  background-image: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 700px;
}